# This is the default config file.
# It contains the default settings for each TA and ESA spectrum

wavelength_range_lower = 200
wavelength_range_upper = 1000
wavelength_res = 500
peak_breadth = 50
dpi = 200
ta_colourmap = viridis
timestep_unit = fs
interpolation = none
normalise_peak_height = True
peak_style = bar,gauss
energy_unit = ev
ta_title = Transient Absorption Spectrum
slice_title = Excited State Absorption at {wavelength} nm
avg_slice_title = Excited State Absorption at ${wavelength} \pm {span}$ nm
line_colour = #a90000
linewidth = 2.0
ta_width = 8
ta_height = 6
linegraph_width = 8
linegraph_height = 5

# These are environment variables
username=USERNAME
conda_env=CONDA_ENV
exec_mode=EXEC_MODE
