# This is the default config file.
# It contains the default settings for each TA and ESA spectrum

wavelength_range_lower = 200
wavelength_range_upper = 1000
wavelength_res = 500
peak_breadth = 50
dpi = 200
timestep = 500
timestep_unit = ps
interpolation = bilinear
normalise_peak_height = True
peak_style = bar,gauss
energy_unit = ev

# These are environment variables
username=ccprak16
conda_env=conda_env
exec_mode=cluster
